{
  "comments": false,
  "presets": [
    ["@babel/preset-env", {"targets": {"node": "current"}, "useBuiltIns": "usage", "corejs": 3}]
  ],
  "plugins": [
    ["add-module-exports"]
  ],
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", {"targets": {"node": "current"}, "useBuiltIns": "usage", "corejs": 3, "modules": false}]
      ]
    }
  }
}
